<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>product_detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/product_detail.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <div class="container">
        <!-- product -->
        <div class="product-content product-wrap clearfix product-deatil">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <div id="myCarousel-2" class="carousel slide">

                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="/uploads/images/<%= product.image%>" class="img-responsive" alt="" />
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                    <h2 class="name">
                        <%=product.name %>
                    </h2>
                    <hr />
                    <h3 class="price-container">
                       Price: ₪<%=product.price %>
                    </h3>
                    <div class="certified">
                        <ul>
                            <li>
                                <a href="javascript:void(0);">Delivery time<span>7 Working Days</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Certified<span>Quality Assured</span></a>
                            </li>
                        </ul>
                    </div>
                    <hr />
                    <div class="description description-tabs">
                        <ul id="myTab" class="nav nav-pills">
                            <li class="active"><a href="#more-information" data-toggle="tab" class="no-margin">Product
                                    Description </a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="more-information">
                                <br />
                                <p>
                                    <%=product.description %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="product-quantity-box">
                           
                            <span class="ss-icon product-minus js-change-quantity" data-quantity-func="minus"><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                    style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path
                                                d="M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z" />
                                        </g>
                                    </g>
                                </svg></span> <input type="number" min="1" size="1" class="quantity" name="quantity"
                                id="quantity" value="1"> <span class="ss-icon product-plus js-change-quantity"
                                data-quantity-func="plus"><svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                    xml:space="preserve">
                                    <g>
                                        <g>
                                            <path
                                                d="M492,236H276V20c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v216H20c-11.046,0-20,8.954-20,20s8.954,20,20,20h216    v216c0,11.046,8.954,20,20,20s20-8.954,20-20V276h216c11.046,0,20-8.954,20-20C512,244.954,503.046,236,492,236z" />
                                        </g>
                                    </g>
                                </svg></span>
                        </div>
                    </div>
                    <hr />



                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <a href="javascript:void(0);"  class="btn btn-success btn-lg">
                                Add to cart ₪ <span id="buy_button"><%=product.price %></span> 
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/productDetail.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>