<%- include('../partials/dashboard_header') %>
<a href="/dashboard/products/add_new_product" class="btn btn-primary mb-3">add new product</a>
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].code %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].description %></td>
                <td><%= data[i].category %></td>
                <td><%= data[i].quantity %></td>
                <td><%= data[i].price %></td>
                <td>
                    <a href="/dashboard/products/product_list/<%= data[i]._id %>" class="btn btn-secondary">
                      Update
                    </a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Delete
                    </button>
                </td>
            </tr>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure ?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <a href="/dashboard/products/product_list/delete/<%= data[i]._id %>" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
        <% } %>
      </tbody>
</table>

<%- include('../partials/dashboard_footer') %>