<%- include('../partials/dashboard_header') %>
<div class="container">
  <form method="POST" action="/dashboard/products/update" enctype="multipart/form-data">
    <h2>Update Product</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="first">Code</label>
          <input type="hidden" name="id" value="<%= product._id %>">
          <input
            type="text"
            class="form-control"
            placeholder="Enter product code"
            id="first"
            name="code"
            value="<%= product.code %>"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter product name"
            id="name"
            name="name"
            value="<%= product.name %>"
          />
        </div>
      </div>
    </div>

    <!--  row   -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="form-floating">
            <label for="floatingTextarea2">Description</label>
            <input
              type="text"
              class="form-control"
              placeholder="Description about product"
              id="floatingTextarea2"
              name="description"
              value="<%= product.description %>"
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="mb-3">
            <label for="formFile" class="form-label">Product Image</label>
            <input class="form-control" type="file" id="formFile" name="image" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="form-floating">
            <label for="exampleInputEmail1">Category</label>
            <select name="category" class="custom-select custom-select-sm">
              <option value="" >Category</option>
              <option value="1" >Houseware</option>
              <option value="2" >Cosmetics</option>
              <option value="3" >School Tools</option>
              <option value="4" >Accessories</option>
              <option value="5" >Electronics</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            class="form-control"
            placeholder="Enter product price"
            id="price"
            name="price"
            value="<%= product.price %>"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input
            type="number"
            class="form-control"
            placeholder="Enter product quantity"
            id="quantity"
            name="quantity"
            value="<%= product.quantity %>"
          />
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/dashboard/products/product_list" class="btn btn-danger">Cancel</a>
  </form>
</div>
<%- include('../partials/dashboard_footer') %>
